/* Main Style */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #D3E8C8;
    text-align: center;
}

/* Header */
header {
    background-color: #C4C4C4; /* Light gray */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

header img {
    height: 200px;
    width: auto;
}
/* Navbar */
nav {
    display: flex;
    justify-content: center;
    flex-grow: 1;
}

nav a {
    text-decoration: none;
    font-weight: bold;
    color: black;
    margin: 0 15px;
}
/* Search Box */
input[type="text"] {
    padding: 5px;
    border: 1px solid #999;
    border-radius: 5px;
    width: 150px;
}

/* Main Content */
section {
    padding: 30px;
    text-align: center;
    line-height: 2;
}S

h1 {
    font-size: 2.5rem;
    text-transform: uppercase;
    margin-bottom: 100px;
    text-align: wrap;
    width: auto
}

.form-container {
    width: 400px; /* or whatever your form width is */
    margin: 0 auto;
    background: white; /* optional if you want a background */
    padding: 20px;
    border-radius: 8px;
  }

/* Contact Form */
form {
    background: white;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    margin: 20px auto;
}

form p {
    text-align: center;
    font-size: 1rem;
}
/* text input area for form */
input, textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
}

button {
    width: 100%;
    padding: 15px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 20px;
    font-size: 1rem;
    cursor: pointer;
     
}    


button:hover {
    background-color: #333;
}

/* Footer */
footer {
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #D3E8C8;
}

footer span {
    margin: 0 10px;
}
