/* Main Style */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #D3E8C8; 
    text-align: center;
}

/* Header */
header {
    background-color: #C4C4C4; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

header img {
    height: 200px;
    width: auto;
}
/* Navbar */
nav {
    display: flex;
    justify-content: center;
    flex-grow: 1;
}

nav a {
    text-decoration: none;
    font-weight: bold;
    color: black;
    margin: 0 15px;
}
/* Search Bar */
input[type="text"] {
    padding: 5px;
    border: 1px solid #999;
    border-radius: 5px;
    width: 150px;
}

/* Main Content */
section {
    padding: 30px;
}S


footer {
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #D3E8C8;
}

footer span {
    margin: 0 10px;
}
